<div id="loginRegisterNavbar">
	<label class="applicationLabel"><b>Fakebook</b></label>
	<div class="loginRegisterNavbarForm">
		<a href="/login">Login</a>
		<a href="/register">Register</a>
	</div>
</div>
<style>
	#loginRegisterNavbar{
		position:absolute;
		top:0%;
		left:0%;
		width:100%;
		height:10%;
		background-color:blue;
		padding:10px;
	}
	.applicationLabel{
		position:absolute;
		margin-top:1%;
		margin-right:5%;
		font-size:30px;
		color:white;
	}
	.loginRegisterNavbarForm{
		margin-top:1%;
		margin-right:5%;
		float:right;
	}
</style>